
.well {
    background-color: aliceblue;
    padding: 2%;
}
h1{
    background-color: rgb(70, 190, 194);
    border: 1px solid #777;
    text-decoration-line: underline;
}
.jumbotron {
    background-color: aliceblue;
    padding-bottom: 0%;
}
.form-control {
    width: 70%;
}
.leftvote {
    margin-right: 2%;
}
.rightvote {
    margin-left: 2%;
}